<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="/stylesheets/signIn.css" />
  </head>

  <body>
    <div class="form-container">
      <img src="/images/simply-logos_black.png" height="120px" alt="" />
      <h2>Signup</h2>
      <form action="/signup" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <label for="profilePic">Profile Picture:</label>
        <input type="file" id="profilePic" name="profilePic" accept="image/*" />
        <button type="submit">Signup</button>
      </form>
      <p>Already have an account? <a href="/">Login here</a></p>
    </div>
  </body>
</html>
